<!DOCTYPE html>
<html>

<head>
    <title>COVID-19 DETECTION AND SURVEILLANCE APP </title>
    <meta name="discription" content="The system is using decision
         tree algorithm and convolutional nueral network (CNN). 
         The web app that can receive data from 
         patients and run some decision to tell if the person is infected
          or not. Then give guidelines to help the infected or 
          prevent the uninfected. " />
    <!-- TAILWIND CSS-->
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/tailwind.min.css') }}" />
    <style>
        .bg {
          background: url('static/images/3634116.svg');
          background-size: cover !important;
          background-position: center center;
          background-repeat: no-repeat;
          max-width: 100% !important;
          max-height: 100% !important;
          display: block !important;
          position: static !important;
          pointer-events: visiblePainted !important; /* SVG only */
        }
        .bg img {
          border: 0;
        }
        </style>
</head>

<body>

    <main class="bg-gray-100 dark:bg-gray-800 rounded-2xl h-screen overflow-hidden relative">
        <div class="flex items-start justify-between">
            <div class="h-screen hidden lg:block my-4 ml-4 shadow-lg relative w-80">
                <div class="bg-white h-full rounded-2xl dark:bg-gray-700">
                    <div class="flex items-center justify-center pt-6">
                <img src="static/images/wiseplus.svg" width="50px" height="50px" />
                    </div>
                    <nav class="mt-6">
                        <div>
                            <a class="w-full font-thin uppercase text-blue-500 flex items-center p-4 my-2 transition-colors duration-200 justify-start bg-gradient-to-r from-white to-blue-100 border-r-4 border-blue-500 dark:from-gray-700 dark:to-gray-800 border-r-4 border-blue-500"
                                href="#">
                                <span class="text-left">
                                    <svg width="20" height="20" fill="currentColor" viewBox="0 0 2048 1792"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path
                                            d="M1070 1178l306-564h-654l-306 564h654zm722-282q0 182-71 348t-191 286-286 191-348 71-348-71-286-191-191-286-71-348 71-348 191-286 286-191 348-71 348 71 286 191 191 286 71 348z">
                                        </path>
                                    </svg>
                                </span>
                                <span class="mx-4 text-sm font-normal">
                                    Dashboard
                                </span>
                            </a>
                            <a class="w-full font-thin uppercase text-gray-500 dark:text-gray-200 flex items-center p-4 my-2 transition-colors duration-200 justify-start hover:text-blue-500"
                                href="#">
                                <span class="text-left">
                                    <svg width="20" height="20" fill="currentColor" class="m-auto"
                                        viewBox="0 0 2048 1792" xmlns="http://www.w3.org/2000/svg">
                                        <path
                                            d="M1024 1131q0-64-9-117.5t-29.5-103-60.5-78-97-28.5q-6 4-30 18t-37.5 21.5-35.5 17.5-43 14.5-42 4.5-42-4.5-43-14.5-35.5-17.5-37.5-21.5-30-18q-57 0-97 28.5t-60.5 78-29.5 103-9 117.5 37 106.5 91 42.5h512q54 0 91-42.5t37-106.5zm-157-520q0-94-66.5-160.5t-160.5-66.5-160.5 66.5-66.5 160.5 66.5 160.5 160.5 66.5 160.5-66.5 66.5-160.5zm925 509v-64q0-14-9-23t-23-9h-576q-14 0-23 9t-9 23v64q0 14 9 23t23 9h576q14 0 23-9t9-23zm0-260v-56q0-15-10.5-25.5t-25.5-10.5h-568q-15 0-25.5 10.5t-10.5 25.5v56q0 15 10.5 25.5t25.5 10.5h568q15 0 25.5-10.5t10.5-25.5zm0-252v-64q0-14-9-23t-23-9h-576q-14 0-23 9t-9 23v64q0 14 9 23t23 9h576q14 0 23-9t9-23zm256-320v1216q0 66-47 113t-113 47h-352v-96q0-14-9-23t-23-9h-64q-14 0-23 9t-9 23v96h-768v-96q0-14-9-23t-23-9h-64q-14 0-23 9t-9 23v96h-352q-66 0-113-47t-47-113v-1216q0-66 47-113t113-47h1728q66 0 113 47t47 113z">
                                        </path>
                                    </svg>
                                </span>
                                <span class="mx-4 text-sm font-normal">
                                    About
                                </span>
                            </a>
                        </div>
                    </nav>
                </div>
            </div>
            <div class="flex flex-col w-full pl-0 md:p-4 md:space-y-4">
                <header class="w-full shadow-lg bg-white dark:bg-gray-700 items-center h-16 rounded-2xl z-40">
                    <div class="relative z-20 flex flex-col justify-center h-full px-3 mx-auto flex-center">
                        <div class="relative items-center pl-1 flex w-full lg:max-w-68 sm:pr-2 sm:ml-0">
                            <div class="container relative left-0 z-50 flex w-3/4 h-auto h-full">
                                <div class="relative flex items-center w-full lg:w-64 h-full group">

                                </div>
                                <h1 style="font-style: bold;">COVID-19 DETECTION AND SURVEILLANCE APP</h1>
                            </div>
                        </div>
                    </div>
                </header>
                <!-- MAIN BODY-->
                <div class="bg overflow-auto h-screen pb-24 pt-2 pr-2 pl-2 md:pt-0 md:pr-0 md:pl-0">
                    <div class="flex flex-col items-center flex-wrap sm:flex-row ">
                        
<section class="h-screen bg-gray-100 bg-opacity-50">
    <form
    action="http://localhost:5000/login"
    method="post"
    enctype="multipart/form-data"
     class="container max-w-2xl mx-auto shadow-md md:w-4/4">
        <div class="p-4 bg-gray-100 border-t-2 border-indigo-400 rounded-lg bg-opacity-5">
            <div class="max-w-sm mx-auto md:w-full md:mx-0">
                <div class="inline-flex items-center space-x-4">
                    <h1 class="text-gray-600">
                        Kindly insert your test result below
                    </h1>
                </div>
            </div>
        </div>
        <div class="space-y-6 bg-white">
            <div class="items-center w-full p-4 space-y-4 text-gray-500 md:inline-flex md:space-y-0">
                <h2 class="max-w-sm mx-auto md:w-1/3">
                    Patients Name
                </h2>
                <div class="max-w-sm mx-auto md:w-2/3">
                    <div class=" relative ">
                        <input type="text" name="fname" id="user-info-name" 
                        class=" rounded-lg border-transparent 
                        flex-1 appearance-none border border-gray-300 w-full py-2 px-4 bg-white 
                        text-gray-700 placeholder-gray-400 shadow-sm text-base focus:outline-none 
                        focus:ring-2 focus:ring-purple-600 focus:border-transparent" placeholder="Name"/>
                        </div>
                    </div>
                </div>
                <hr/>
                <div class="items-center w-full p-4 space-y-4 text-gray-500 md:inline-flex md:space-y-0">
                    <h2 class="max-w-sm mx-auto md:w-1/3">
                        Test File
                    </h2>
                    <div class="max-w-sm mx-auto space-y-5 md:w-2/3">
                            <div>
                                <div class=" relative ">
                                    <input type="file"
                                    placeholder="Upload X-Ray"
                                    name="nm"
                                    accept=".png, .jpg, .jpeg" class="
                                    rounded-lg border-transparent flex-1 appearance-none border
                                     border-gray-300 w-full py-2 px-4 bg-white text-gray-700 
                                     placeholder-gray-400 shadow-sm text-base focus:outline-none focus:ring-2 
                                     focus:ring-purple-600 focus:border-transparent" placeholder="Phone number"/>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr/>
                            <div class="w-full px-4 pb-4 ml-auto text-gray-500 md:w-1/3">
                                <button type="submit" class="py-2 px-4  bg-indigo-600 hover:bg-indigo-700 focus:ring-indigo-500 
                                focus:ring-offset-indigo-200 text-white w-full 
                                transition ease-in duration-200 text-center 
                                text-base font-semibold shadow-md focus:outline-none 
                                focus:ring-2 focus:ring-offset-2  rounded-lg ">
                                    Diagonize 
                                </button>
                            </div>
                        </div>
                    </form>
                </section>




                        <div class="hidden sm:block" aria-hidden="true">
                            <div class="py-5">
                                <div class="border-t border-gray-200"></div>
                            </div>
                        </div>


                    </div>
                </div>
    </main>

<!-- Jquery JS-->
<script src="/vendor/jquery/jquery.min.js"></script>
<!-- Vendor JS-->
<script src="/vendor/select2/select2.min.js"></script>

<footer class="bg-white dark:bg-gray-800 w-full py-8">
        <div class="text-center text-gray-500 dark:text-gray-200 pt-10 sm:pt-12 font-light flex items-center justify-center">
            Project by Joshua Kigbu
        </div>
    </div>
</footer>

</body>

</html>